@font-face {
    font-family: 'DINNextLTPro-Black';
    src: url('./DINNextLTPro-Black.eot');
    src: url('./DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./DINNextLTPro-Black.woff2') format('woff2'),
        url('./DINNextLTPro-Black.woff') format('woff'),
        url('./DINNextLTPro-Black.ttf') format('truetype'),
        url('./DINNextLTPro-Black.svg#DINNextLTPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

